html,body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
.btn{
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 12px;
}
.red{
  color: #E74C3C !important;
}

.be-red{
  background-color: #E74C3C;
}
.white{
  color: #ECF0F1;
}

.text-left{
  text-align: left;
}

#logo{
  font-size:1.2em;
}
.no-margin{
  margin: 0px;
}

.large-padding{
  padding: 8px 7px;
}

.no-list{
  list-style-type: none;
}

a,a:visited{
  color: inherit;
  text-decoration: none;
}

.field, .top-space, .actions{
  margin-top: 1em;
}

.form-control{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}

